extends mod

block modContent
	div #{mess}
	if worked
		div= 'Successfully added ' + item.key + ' with an IP of ' + item.ip + '.'
	else
		div= 'Could not add ' + item.key + ' with an IP of ' + item.ip + '.'