doctype html5
html
	head
		title GENI Reverse Proxy
	link(rel='stylesheet', href='/styles/main.css')
	body
		div#mainWrapper
			div#content
				block content
			div.
				Source available at <a href="https://github.com/DuckSyrup/reverse-proxy/">GitHub</a>.