extends layout

block content
	if items
		table
			tr
				td Slice Name
				td Local IP Address
			each value, key in items
				tr
					td= key
					td= value
			else
				p No items in list
	else
		p No items in list
	
	div
		form(action='/add', method='post')
			div
				label(for='key') Slice name
					input(id='key', type='text', value='', name='key')
			div
				label(for='ip') Local IP Adress
					input(id='ip', type='text', value='', name='ip')
			input(type='submit', value='Add Route')
	div
		form(action='/remove', method='post')
			div
				label(for='key') Slice name
					input(id='key', type='text', value='', name='key')
			input(type='submit', value='Remove Route')