extends layout

block content
	if items
		-var sliceURL = '/slice/'
		table
			tr
				td Slice Name
				td Local IP Address
			each i in items
				tr
					td
						a(href='#{i.url}') #{i.key}
					td= i.ip
			else
				p No items in list
	else
		p No items in list
	
	div
		form(action='/add', method='post')
			div
				label(for='key') Slice name
					input(id='addKey', type='text', value='', name='key')
			div
				label(for='ip') Local IP Adress
					input(id='addIP', type='text', value='', name='ip')
			input(type='submit', value='Add Route')
	div
		form(action='/remove', method='post')
			div
				label(for='key') Slice name
					input(id='removeKey', type='text', value='', name='key')
			input(type='submit', value='Remove Route')