extends layout

block content
	if items
		-var sliceURL = '/slice/'
		table
			tr
				td Slice Name
				td Local IP Address
			each i in items
				tr
					td
						a(href='#{i.url}') #{i.key}
					td= i.ip
			else
				p No items in list
	else
		p No items in list